<ion-header>
  <div class="head back-button">
    <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/home">
      <mat-icon class="white-icon">home</mat-icon>
    </button>
  </div>
  <div class="header">
    <h1 class="ion-text-center title">Asistencia</h1>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let r of ramo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{r.nombre_asignatura}}</ion-card-title>
        <ion-card-subtitle>{{r.id_clase}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{r.pnombre_usuario}} {{r.apaterno_usuario}} <br>    
        Total de Clases: {{r.total_clase}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clases Asistidas: {{r.clase_asistida}} <br>
        Porcentaje de Asistencia Actual: {{ ((r.clase_asistida / r.total_clase) * 100).toFixed(1) }}%
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
