<ion-header>
  <div class="head back-button">
    <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/profesor">
      <mat-icon class="white-icon">home</mat-icon>
    </button>
  </div>
  <div class="header">
    <h1 class="ion-text-center title">QR</h1>
  </div>
</ion-header>

<ion-content class="center-content" [fullscreen]="true">
  <ion-item class="center">
    <qrcode
      [qrdata]="qrAngular"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </ion-item>
</ion-content>
