<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<ion-header>
  <div class="header">
    <ion-title class="title">Registrr <span class="span">APP</span></ion-title>
    <div class="img">
      <img src="assets/img/Screenshot_2.png" alt=" logo">
    </div>
  </div>
</ion-header>

<ion-content>
  <form action="" class="form">
    <ion-item>
      <ion-input label="Usuario" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        type="password"
      ></ion-input>
    </ion-item>
    <div class="ion-text-center btn-pad">
      <input class="btn" type="submit" value="Ingresar">
    </div>
  </form>
  <div class="ion-text-center btn-pad">
    <a href="#">Olvidé mi Contraseña</a>
  </div>
</ion-content>
