<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
  rel="stylesheet"
/>
<div class="header">
  <h1 class="title ion-text-center">Registrr <span class="span">APP</span></h1>
</div>
<ion-content>
  <form [formGroup]="forma" (ngSubmit)="goTo">
    <ion-item class="ion-padding-top">
      <ion-input
        label="Usuario"
        labelPlacement="floating"
        formControlName="usuario"
        [class.is-invalid]="usuarioNoValido"
        [(ngModel)]="username"
      ></ion-input>
    </ion-item>    
    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        formControlName="pass"
        type="password"
        [class.is-invalid]="contraNoValido"
        [(ngModel)]="passw"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="usuarioNoValido">
      <p class="mensaje">El usuario debe contener al menos 5 carácteres</p>
    </ion-text>
    <ion-text color="danger" *ngIf="contraNoValido">
      <p class="mensaje">La contraseña es obligatoria</p>
    </ion-text>
    <ion-text color="danger">
      <p class="mensaje">{{mensaje}}</p>
    </ion-text>
    <ion-checkbox class="check" justify="end" checked="{{checkBo}}" (ionChange)="check($event)">Recuerdame</ion-checkbox>
    <div class="ion-text-center btn-pad">
      <input
        class="btn"
        type="submit"
        value="Ingresar"
        [disabled]="(forma.status) === 'INVALID'"
        (click)="goTo()"
      />
    </div>
  </form>

  <!-- <pre>Estado formulario:{{forma.valid}}
    <br>
    Status:{{forma.status}}

  </pre>
  <pre>
    {{forma.value | json}}
  </pre> -->

  <div class="ion-text-center btn-pad">
    <a routerLink="/restorepass">Olvidé mi Contraseña</a>
  </div>
</ion-content>
