@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header {
    background-color: #0f2b53;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.btn-pad {
    margin-top: 30px;
}

.btn {
    color: white;
    background-color: #f5bf41;
    border: none;
    padding: 10px 100px;
}

.btn[disabled] {
    /* Estilos para el botón deshabilitado */
    background-color: #e0e0e0; /* Color de fondo cuando está deshabilitado */
    color: #a0a0a0; /* Color de texto cuando está deshabilitado */
}

.btn:active:valid {
    background-color: #4270d9;
}

.title {
    color: #f5bf41;
    font-size: 20px;
    font-family: 'Open Sans';
}

.span {
    color: white;
    font-weight: bold;
    font-size: 23px;
}

.mensaje {
    padding-left: 15px;
    margin: 20px 10px;
    font-size: 14px;
}

.check {
    display: flex;
    justify-content: end;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: -10px;
    color: #0f2b53;
}