<ion-header>
  <div class="header"></div>
</ion-header>

<ion-content>
  <form action="" class="form">
    <ion-item>
      <ion-input label="Usuario" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        type="password"
      ></ion-input>
    </ion-item>
    <div class="ion-text-center btn-pad">
      <input class="btn" type="submit" value="Ingresar">
    </div>
  </form>
  <div class="ion-text-center btn-pad">
    <a routerLink="/restorepass">Olvidé mi Contraseña</a>
  </div>
</ion-content>
