@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.header {
    background-color: #0f2b53;
    padding-bottom: 200px;
}
.form {
    margin-top: 50px;
    margin-right: 20px;
}

.btn-pad {
    margin-top: 30px;
}

.btn {
    color: white;
    background-color: #f5bf41;
    border: none;
    padding: 10px 60px;
}

.btn:active {
    background-color: #4270d9;
}

.title {
    color: #f5bf41;
    font-size: 22px;
    font-family: 'Open Sans';
    justify-content: center;
    align-items: center;
}

.span {
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.back-button{
    position:fixed;
    float:left;
}