<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<ion-header> 
  <div class="header">
    <div class="back-button">
      <ion-back-button color="dark" slot="start"></ion-back-button>
    </div>
    <ion-title class="ion-text-center title">Registrr <span class="span">APP</span></ion-title> 
  </div>
 
</ion-header>

<ion-content>
  <form action="" class="form">
    <ion-item>
      <ion-input label="Ingresa tu Usuario" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" labelPlacement="floating" type="password"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Ingresa nuevamente tu Contraseña" labelPlacement="floating"></ion-input>
    </ion-item>
  </form>
  <div class="ion-text-center btn-pad">
    <input class="btn" type="submit" value="Cambiar contraseña">
  </div>
</ion-content>
