<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
  rel="stylesheet"
/>
<div class="head back-button">
  <a href="#" class="previous round">&#8249;</a>
</div>
<div class="header">
  <h1 class="ion-text-center title">Registrr <span class="span">APP</span></h1>
</div>

<ion-content class="ion-margin-top">
  <ion-item>
    <ion-input label="Ingresa tu Usuario" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Contraseña"
      labelPlacement="floating"
      type="password"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Ingresa nuevamente tu Contraseña"
      labelPlacement="floating"
    ></ion-input>
  </ion-item>

  <div class="ion-text-center btn-pad">
    <input class="btn" type="submit" value="Cambiar contraseña" />
  </div>
</ion-content>
