
.form {
    margin-top: 50px;
    margin-right: 20px;
}

.btn-pad {
    margin-top: 30px;
}

.btn {
    color: white;
    background-color: #f5bf41;
    border: none;
    padding: 10px 100px;
}

.btn:active {
    background-color: #4270d9;
}