@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.head {
  background-color: #0f2b53;
  padding-top: 30px;
}

.back-button{
  padding-left: 100px;
}

.header {
  background-color: #0f2b53;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.form-valid {
  margin-top: 10px;
}

.btn-pad {
  margin-top: 30px;
}

.btn {
  color: white;
  background-color: #f5bf41;
  border: none;
  padding: 10px 80px;
}

.btn[disabled] {
  background-color: #e0e0e0;
  color: #a0a0a0;
}

.btn:active:valid {
  background-color: #4270d9;
}

.title {
  color: #f5bf41;
  font-size: 20px;
  font-family: "Open Sans";
}

.span {
  color: white;
  font-weight: bold;
  font-size: 23px;
}

.back-button {
  float: left;
  padding-left: 10px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.next {
  background-color: #04aa6d;
  color: white;
}

.round {
  border-radius: 50%;
}

.mensaje {
  padding-left: 15px;
  font-size: 14px;
}
