.scanner-button{
    margin: 5% 15%;
}

.footer-text{
    margin-top:148%;
    margin-left:3%;
    font-size:10px;
    color:gray;
}

.black-icon {
    color: black;
    background: none;
  }
  
.black-icon{
    fill: black;
  }

.title{
    display:flex;
    justify-content: center;
    padding-top:20px;
}