<ion-header>
  <div class="head back-button">
    <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/home">
      <mat-icon class="white-icon">home</mat-icon>
    </button>
  </div>
  <div class="header">
    <h1 class="ion-text-center title">Código <span>QR</span></h1>
  </div>
</ion-header>

<ion-content
  [fullscreen]="true"
  [style.--background]="scanActivate?'#00000000':'#ffffff'"
>
  <ion-row class="scan-button" [hidden]="!scanActivate">
    <ion-col class="ion-no-padding">
      <ion-button
        class="scanner-button"
        expand="full"
        (click)="startScanner()"
        [hidden]="scanActivate"
        color="warning"
      > Escanear QR <ion-icon name="qr-code-outline" style="margin-left:10px"></ion-icon>
      </ion-button>
    </ion-col>  
  </ion-row>
  <ion-row>
    <div class="footer-text">
      <ion-text>
        - Porfavor apunte su cámara hacia el Código QR que desplegara su profesor
        <br>
        - Escanee el Código QR, ya que de lo contrario no quedara registrado en la asistencia
      </ion-text>
    </div>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActivate"></div>
</ion-content>

