<ion-header>
  <div class="head back-button">
    <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/profesor">
      <mat-icon class="white-icon">home</mat-icon>
    </button>
  </div>
  <div class="header">
    <h1 class="ion-text-center title">Clases</h1>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let r of ramo">
    <div class="btn">
      <button class="btn-A" (click)="toggleCard(r)">
        {{r.nombre_asignatura}}
      </button>
    </div>  
    <ion-card *ngIf="r.expanded">
      <ion-card-header>
        <ion-card-title>{{r.nombre_asignatura}}</ion-card-title>
        <ion-card-subtitle>{{r.id_clase}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content *ngIf="r.expanded">
        {{r.pnombre_usuario}} {{r.apaterno_usuario}} <br>    
        Total de Clases: {{r.total_clase}}
      </ion-card-content>

      <ion-button fill="clear" class="ion-justify-content-center" (click)="goTo(r)">Generar QR</ion-button>
    </ion-card>
  </div>
</ion-content>


