.ion-item-background{
  background-color: #012C56;
}

.btn-pad {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10%;
  width: 100%;
}

.header{
  padding-top:20%;
}

.btn{
  margin-top:20px;
}

.box {
  position: fixed;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.right {
  float:right;
}

.card{
  width: 120%;
}

.button{
  size:10px;
}

ion-text{
  font-size:17px;
}