
<ion-content [fullscreen]="true">
  <ion-header class="header">
    <ion-title>
      <ion-text>Bienvenido/a <br>{{user}}</ion-text>
    </ion-title>  
  </ion-header>

  <div class="box"> 

    <ion-grid>
      <ion-card class="card">
        <ion-card-header class="ion-text-center"> 
          <ion-card-title>Horario <mat-icon>schedule</mat-icon></ion-card-title> 
        </ion-card-header>
        <button mat-flat-button class="right" fill="clear" >></button>
      </ion-card>

      <ion-card class="card">
        <ion-card-header class="ion-text-center"> 
          <ion-card-title>Asistencia <mat-icon>calendar_today</mat-icon></ion-card-title> 
        </ion-card-header>
        <button mat-flat-button class="right" fill="clear">></button>
      </ion-card>

      <ion-card class="card">
        <ion-card-header class="ion-text-center"> 
          <ion-card-title>Codigo QR <ion-icon name="qr-code-outline"></ion-icon></ion-card-title> 
        </ion-card-header>
        <button mat-flat-button class="right" fill="clear">></button>
      </ion-card>

    </ion-grid>

  </div>

</ion-content>
<ion-footer>
  <div>
    <button #button class="logoutbtn" (click)="applyBounce()"><a routerLink="/signin">Cerrar Sesión</a></button>
  </div>
</ion-footer>