<ion-header class="header">
  <ion-title class="ion-text-center title">
    <ion-text>Bienvenido/a<br><span>{{user}}</span></ion-text>
  </ion-title>  
</ion-header>
<ion-content [fullscreen]="true">
 
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-card-header class="ion-text-center ion-card-header-centered">
            <mat-icon class="calendar">calendar_today</mat-icon>
            <ion-card-title class="title-card">Asistencia</ion-card-title>
          </ion-card-header>
          <div class="btn-card">
            <button class="btn-font" (click)="asis()">X</button>
          </div>
        </ion-card>          
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="ion-text-center"> 
            <ion-card-subtitle><ion-icon class="qr" name="qr-code-outline"></ion-icon></ion-card-subtitle>
            <ion-card-title class="title-card">Código QR</ion-card-title>            
          </ion-card-header>
          <div class="btn-card">
            <button class="btn-font" (click)="goTo()">X</button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<footer>
  <div class="ion-text-center combo">
    <button #button class="logoutbtn button" (click)="applyBounce()"><a class="logoutbtn" routerLink="/signin">Cerrar Sesión</a></button>
  </div>
</footer>