.ion-item-background{
  background-color: #012C56;
}

.btn-pad {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10%;
  width: 100%;
}

.header{
  padding-top:20%;
}

.btn{
  margin-top:20px;
}

.box {
  position: fixed;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.right {
  float:right;
}

.card{
  width: 120%;
}

.logoutbtn{
  margin-left:15%;
  margin-bottom:5%;
}

ion-text{
  font-size:17px;
}

button {
  transform: scale(1);
  padding: .5rem 2rem;
  background-color: #012C56;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
}

.bounce {
  animation: bounce .25s ease-in-out;
}

@keyframes bounce {
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}