<ion-content [fullscreen]="true">
  <div class="box">
    <ion-grid>
      <ion-card class="card">
        <ion-card-header class="ion-text-center"> 
          <ion-card-title>Clases <mat-icon>schedule</mat-icon></ion-card-title> 
        </ion-card-header>
        <button (click)="enviar()" mat-flat-button class="right" fill="clear" >></button>
      </ion-card>

    </ion-grid>

  </div>

</ion-content>
<ion-footer>
  <div class="ion-text-center combo">
    <button #button class="logoutbtn" (click)="applyBounce()"><a class="logoutbtn" routerLink="/signin">Cerrar Sesión</a></button>
  </div>
</ion-footer>


